@{
    ViewData["Title"] = "Seleccionar categoria";
    var hora = DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss");
}

<div class="container">
    
    <div class="row d-flex">
            <div class="col ">
                <p class="float-start">CC-@ViewBag.Documento</p>
                <p class="float-end">@hora</p>
            </div>
    </div>
    <div class="row mt-5">
        <div class="text-center mx-auto col-sm-8">
            <h1>Escoge una categoría para tomar el turno</h1>
            <div class="row mt-4">
                @foreach (var categoria in Model)
                {
                    <div class="col-sm-6 p-2">
                        <a asp-controller="Turnos" asp-action="Turno" asp-route-siglas="@categoria.Abreviacion"
                            class="d-flex btn btn-lg btn-dark p-5">@categoria.Nombre</a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>